NodeRed_flow.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57536716c0d70720",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/query/notif",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "c3d5316b8a24a9de"
            ]
        ]
    },
    {
        "id": "b2d67a2422e8e30f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "b12b308ca34055f7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.host",
                "pt": "msg",
                "to": "req.headers.host",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "68b12380b2cafc9d",
                "b2d67a2422e8e30f"
            ]
        ]
    },
    {
        "id": "68b12380b2cafc9d",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "c3d5316b8a24a9de",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/echange/response.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "882a4e2deff85a36"
            ]
        ]
    },
    {
        "id": "882a4e2deff85a36",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "b12b308ca34055f7"
            ]
        ]
    },
    {
        "id": "cbd659175b97800d",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/query/token",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "26805c5a1debfacf"
            ]
        ]
    },
    {
        "id": "26805c5a1debfacf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.token",
                "pt": "msg",
                "to": "ceci_est_un_token",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 60,
        "wires": [
            [
                "a6bdd762198c2b47"
            ]
        ]
    },
    {
        "id": "a6bdd762198c2b47",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 60,
        "wires": [
            [
                "68b12380b2cafc9d"
            ]
        ]
    }
]