NodeRed_flow.json
[
    {
        "id": "394bce6493901508",
        "type": "tab",
        "label": "API tester",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd71c98fcba40055",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "fill-opacity": "0.2"
        },
        "nodes": [
            "2b8edb33c35e11cb",
            "8ad3f9b888df05df",
            "adf7b8b3cabc3ba0",
            "12fee728ee09aecd",
            "bfbe67c4dd5b8661",
            "1b6c944766cf1002",
            "3b7bd027c4f00a1d",
            "88dca311d3d0fd90"
        ],
        "x": 114,
        "y": 19,
        "w": 1292,
        "h": 182
    },
    {
        "id": "d895d48d13cba11e",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.21",
            "label": true
        },
        "nodes": [
            "aaa53d6fc15562b6",
            "5d1916156221b716",
            "5bc43b7e13b61000",
            "72953f3a7c4652e8",
            "7494b6279bd5060d",
            "0239754e78cd9697",
            "71f82953e392b272",
            "c739add2b872cec5",
            "396f5e168ac41c45",
            "ca72f77d746cbbeb"
        ],
        "x": 114,
        "y": 219,
        "w": 1292,
        "h": 282
    },
    {
        "id": "b566b078c976aea3",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "fill-opacity": "0.2"
        },
        "nodes": [
            "5ecc2d577a62724a",
            "64964f2cc3fbf147",
            "0f43d8e044b35373",
            "126d050da45eef91",
            "1b1355385547065a",
            "b6100824af704220"
        ],
        "x": 114,
        "y": 539,
        "w": 1292,
        "h": 182
    },
    {
        "id": "593e62a9d1f20201",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "fill-opacity": "0.43",
            "label": true
        },
        "nodes": [
            "3eaf39ae6cd2edc9",
            "83d70889ee07e0d9",
            "6808c55419a26ecf",
            "98c7ee326a2b6af2"
        ],
        "x": 114,
        "y": 759,
        "w": 1292,
        "h": 142
    },
    {
        "id": "4ab73c8f021e2fd4",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill-opacity": "0.51",
            "label": true,
            "fill": "#ff7f7f"
        },
        "nodes": [
            "d1407aaebf492661",
            "a86983f3ea627c7a",
            "46b7365ed73d9552"
        ],
        "x": 1454,
        "y": 459,
        "w": 412,
        "h": 122
    },
    {
        "id": "cd7356eb9cd19fec",
        "type": "group",
        "z": "394bce6493901508",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "fill-opacity": "0.21",
            "label": true
        },
        "nodes": [
            "1a37137bc3322a86",
            "bdb3b4740d2b7db5",
            "da2bd796370d23bc",
            "d1b9887d5c328d8c",
            "1077cb039157bfa2",
            "ddc3d6f241b68fcd",
            "5c7f5e51d238881a",
            "7ec25fc3d79d9a18",
            "2843027a9074283b"
        ],
        "x": 114,
        "y": 939,
        "w": 1152,
        "h": 242
    },
    {
        "id": "aaa53d6fc15562b6",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "",
        "url": "/query/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "7494b6279bd5060d"
            ]
        ]
    },
    {
        "id": "bfbe67c4dd5b8661",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "Output GET Token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d1916156221b716",
        "type": "change",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.host",
                "pt": "msg",
                "to": "req.headers.host",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "71f82953e392b272",
                "c739add2b872cec5"
            ]
        ]
    },
    {
        "id": "12fee728ee09aecd",
        "type": "http response",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "respons token",
        "statusCode": "200",
        "headers": {},
        "x": 1260,
        "y": 140,
        "wires": []
    },
    {
        "id": "5bc43b7e13b61000",
        "type": "file in",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "JSON response file",
        "filename": "/data/echange/nutanix_response.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "72953f3a7c4652e8"
            ]
        ]
    },
    {
        "id": "72953f3a7c4652e8",
        "type": "json",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "5d1916156221b716"
            ]
        ]
    },
    {
        "id": "2b8edb33c35e11cb",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "",
        "url": "/query/token",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "88dca311d3d0fd90"
            ]
        ]
    },
    {
        "id": "8ad3f9b888df05df",
        "type": "change",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 120,
        "wires": [
            [
                "12fee728ee09aecd",
                "bfbe67c4dd5b8661"
            ]
        ]
    },
    {
        "id": "7494b6279bd5060d",
        "type": "switch",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "Token check",
        "property": "req.headers.authorization",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "token",
                "vt": "flow"
            },
            {
                "t": "neq",
                "v": "token",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5bc43b7e13b61000"
            ],
            [
                "46b7365ed73d9552"
            ]
        ]
    },
    {
        "id": "0239754e78cd9697",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "",
        "url": "/query/api",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "7494b6279bd5060d"
            ]
        ]
    },
    {
        "id": "adf7b8b3cabc3ba0",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "Get current token with user / password not checked",
        "info": "TOKEN=`curl http://127.0.0.1:1880/query/token -s | jq -r '.token'`",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "71f82953e392b272",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "Output GET/POST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "c739add2b872cec5",
        "type": "http response",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 340,
        "wires": []
    },
    {
        "id": "396f5e168ac41c45",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "Get JSON with token given",
        "info": "curl -H 'Authorization: '$TOKEN http://127.0.0.1:1880/query/api",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b7bd027c4f00a1d",
        "type": "change",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "Save token to flow level",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.token",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "8ad3f9b888df05df"
            ]
        ]
    },
    {
        "id": "5ecc2d577a62724a",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "",
        "url": "/query/revocation",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 640,
        "wires": [
            [
                "b6100824af704220"
            ]
        ]
    },
    {
        "id": "64964f2cc3fbf147",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "Revoke token",
        "info": "curl -H 'Authorization: '$TOKEN -X POST http://127.0.0.1:1880/query/revocation -v",
        "x": 210,
        "y": 580,
        "wires": []
    },
    {
        "id": "0f43d8e044b35373",
        "type": "http response",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "respons",
        "statusCode": "",
        "headers": {},
        "x": 1260,
        "y": 680,
        "wires": []
    },
    {
        "id": "126d050da45eef91",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "Output Revoke",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 640,
        "wires": []
    },
    {
        "id": "1b1355385547065a",
        "type": "change",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "Save token to flow level",
        "rules": [
            {
                "t": "delete",
                "p": "token",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "token revoke",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "126d050da45eef91",
                "0f43d8e044b35373"
            ]
        ]
    },
    {
        "id": "b6100824af704220",
        "type": "switch",
        "z": "394bce6493901508",
        "g": "b566b078c976aea3",
        "name": "Token check",
        "property": "req.headers.authorization",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "token",
                "vt": "flow"
            },
            {
                "t": "eq",
                "v": "token",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "46b7365ed73d9552"
            ],
            [
                "1b1355385547065a"
            ]
        ]
    },
    {
        "id": "d1407aaebf492661",
        "type": "http response",
        "z": "394bce6493901508",
        "g": "4ab73c8f021e2fd4",
        "name": "",
        "statusCode": "404",
        "headers": {},
        "x": 1740,
        "y": 500,
        "wires": []
    },
    {
        "id": "a86983f3ea627c7a",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "4ab73c8f021e2fd4",
        "name": "Error Header",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 540,
        "wires": []
    },
    {
        "id": "46b7365ed73d9552",
        "type": "change",
        "z": "394bce6493901508",
        "g": "4ab73c8f021e2fd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Token error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 520,
        "wires": [
            [
                "a86983f3ea627c7a",
                "d1407aaebf492661"
            ]
        ]
    },
    {
        "id": "3eaf39ae6cd2edc9",
        "type": "inject",
        "z": "394bce6493901508",
        "g": "593e62a9d1f20201",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "83d70889ee07e0d9"
            ]
        ]
    },
    {
        "id": "83d70889ee07e0d9",
        "type": "change",
        "z": "394bce6493901508",
        "g": "593e62a9d1f20201",
        "name": "Show token",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "6808c55419a26ecf"
            ]
        ]
    },
    {
        "id": "6808c55419a26ecf",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "593e62a9d1f20201",
        "name": "Token stdin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 860,
        "wires": []
    },
    {
        "id": "98c7ee326a2b6af2",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "593e62a9d1f20201",
        "name": "Manually check token value at any time",
        "info": "",
        "x": 310,
        "y": 800,
        "wires": []
    },
    {
        "id": "ca72f77d746cbbeb",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "d895d48d13cba11e",
        "name": "Post JSON with token given",
        "info": "curl -H 'Authorization: '$TOKEN http://127.0.0.1:1880/query/api",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "1a37137bc3322a86",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "",
        "url": "/query/directapi",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "da2bd796370d23bc"
            ]
        ]
    },
    {
        "id": "bdb3b4740d2b7db5",
        "type": "change",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.host",
                "pt": "msg",
                "to": "req.headers.host",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 1060,
        "wires": [
            [
                "ddc3d6f241b68fcd",
                "5c7f5e51d238881a"
            ]
        ]
    },
    {
        "id": "da2bd796370d23bc",
        "type": "file in",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "JSON response file",
        "filename": "/data/echange/response.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "d1b9887d5c328d8c"
            ]
        ]
    },
    {
        "id": "d1b9887d5c328d8c",
        "type": "json",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "bdb3b4740d2b7db5"
            ]
        ]
    },
    {
        "id": "1077cb039157bfa2",
        "type": "http in",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "",
        "url": "/query/directapi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "da2bd796370d23bc"
            ]
        ]
    },
    {
        "id": "ddc3d6f241b68fcd",
        "type": "debug",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "DirectAPI Output GET/POST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5c7f5e51d238881a",
        "type": "http response",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7ec25fc3d79d9a18",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "Get JSON without token",
        "info": "curl -H 'Authorization: '$TOKEN http://127.0.0.1:1880/query/api",
        "x": 240,
        "y": 980,
        "wires": []
    },
    {
        "id": "2843027a9074283b",
        "type": "comment",
        "z": "394bce6493901508",
        "g": "cd7356eb9cd19fec",
        "name": "Post JSON with token given",
        "info": "curl -H 'Authorization: '$TOKEN http://127.0.0.1:1880/query/api",
        "x": 260,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1b6c944766cf1002",
        "type": "random-string",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "size": 16,
        "characters": "",
        "property": "payload",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "3b7bd027c4f00a1d"
            ]
        ]
    },
    {
        "id": "88dca311d3d0fd90",
        "type": "change",
        "z": "394bce6493901508",
        "g": "cd71c98fcba40055",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CECI_EST_UN_TOKEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "3b7bd027c4f00a1d"
            ]
        ]
    }
]